@color-sub-primary:#fcdf02;


html{
  height: 100%;
  width: 100%;
}
body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.content-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.el-button--primary{
  color: @color-sub-primary;
}
input{
  :focus{
    border-color: @color-sub-primary;
  }
}
